<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="/cadastrar_usuario" method="post">
            <h1>Cadastro de usuarios</h1>
            <input placeholder="Nome" name="nome" type="text">
            <input placeholder="Senha" name="senha" type="password">
            <button type="submit">Cadastrar</button>
            <p>Ja tem login?</p>
            <a href="login.html" class="login">Ir para login</a>
        </form>
    </div>
</body>