<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="/logar_usuario" method="post">
            <h1>Login de usuarios</h1>
            <input placeholder="Nome" name="login" type="text">
            <input placeholder="Senha" name="senha" type="password">
            <button type="submit">Logar</button>
            <p>Não tem login?</p>
            <a href="cadastro.html" class="login">Se cadastre!</a>
        </form>
        <div class="card">
            <p>Nome:</p>
            <p>Idade:</p>
            <button>Apagar</button>
        </div>
    </div>

</body>

</html>