<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Erro</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="cor">
    <div class="centro">
        <h1>Ocorreu um erro</h1>
        <p>
            <%= resposta %>
        </p>
        <a href="login.html">Voltar</a>
    </div>
</body>

</html>