<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="estilo.css" rel="stylesheet">
    <title>Resposta cadastro</title>
</head>

<body class="cor">
    <div class="centro">
        <h1>Cadastro realizado com sucesso!</h1>
        <p>Nome:<%= nome %>
        </p>
        <p>Senha:<%= senha %>
        </p>
    </div>
</body>

</html>